<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>btnAmtDefault</key>
	<integer>3</integer>
	<key>btnAmtBig</key>
	<integer>2</integer>
	<key>btnAmtSmall</key>
	<integer>4</integer>
	<key>guageH</key>
	<real>15</real>
</dict>
</plist>
